<form  action='/books/<%=book.id%>/track/submit'>
    <div style='margin:10px;'>
    <div style='margin:10px;'>
        <label>Watch status</label>
        <br>
        
        <select class="js-example-basic-single" style="width:300px" name="watchStatus">
                <%if ( user.books.watchStatus == 'Read') {%><option selected value="Read">Read</option>
                <%} else {%><option value="Read">read</option> <%}%>

    
                <%if ( user.books.watchStatus == 'Plan to read') {%><option selected value="Plan to read">Plan To Read</option><%%>
                <%} else {%><option value="Plan to read">Plan to read</option> <%}%>
        </select>
    </div>

    <div style='margin:10px;'>
        <label>Chapters read</label>
            <br>
                <input type="number" name="userRating" min="0">
    </div>
    
    <div style='margin:10px;'>
        <label>Watch Date</label><br>
        <input type="date" name="watchDate" value ="<%= user.books.date == null ? '' : user.books.date.toISOString().split('T')[0]%>">
    </div>
    
    <div style='margin:10px;'>
        <label>Number of rewatches</label><br>
        <input type="number" name="rewatches" value='<%user.books.rewatches%>' min="0">
    </div>
    
    <div style='margin:10px;'>
        <label>Rating</label>
            <br>
                <input type="number" name="userRating" min="1" max="100">
            <br>
        <div style='margin-top:10px;'><label>Leave a review (optional)</label>
        <br>
            <textarea name="userReview" class='input-summary'></textarea>
            </div>
    </div>
    <button type="submit" style='margin-left:25px;margin-top:0px' class="btn btn-primary">Submit</button>
</div>
    </form>
    
    <br><br>
    
    