<header>
    <nav>
        <a href="/"><img src="/images/homebuttonlogo.png" class="home" alt="btl home"></img></a>
        <div class='search-box'>
            <form action="/search" method="GET">
                <label for="search"></label>
                <input class="search" type="text" id="search" name="search" placeholder="Search..." value="<%= (!!locals.searchOptions)?searchOptions:'' %>"></input>
                <button type="submit">s</button>
            </form>
        </div>
        <%if (locals.username) {%>
            <div><%= username %>
                <form action="/logout?_method=DELETE" method="POST">
                    <button class="logout-btn" type="submit">Logout</button>
                </form></div>
        <%} else {%>
            <ul>
                <li><a href="register">Register</a></li>
                <li><a href="login">Log in</a></li>
            </ul>
        <%}%>
    </nav>
</header>