<header>
    <nav>
        <a href="/"><img src="images/homebuttonlogo.png" class="home" alt="btl home button"></img></a>
        <form>
            <label for="search"></label>
            <input class="search" type="text" id="search" name="search" placeholder="Search..."></input>
        </form>
            <ul>
                <li><button>Register</button></li>
                <li><button>Log in</button></li>
            </ul>
    </nav>
</header>