body {
    padding:0;
    margin:0;
    background-color:darkseagreen
}

.search{
    
}

.media-box {
    height:150px;
    width:90px;
    padding:10px;
    margin:10px;
    border: 1px solid black;
    background-color: silver;
}

li {
    display: inline-block;
}

footer li{
    display:block;
}

.media-box img {
    height:140px;
    width:80px;
    padding:5px;
}

header {
    background-color:darkslategrey;
    background-color:darkslategrey;
}

footer {
    background-color:darkslategrey;
    background-color:darkslategrey;
}
