<!DOCTYPE html>
<html>
    <head>
        <title>Back to the log - Home</title>
        <meta name="description" content="Keep track of all your media, from books to movies to TV shows.">

        <!-- filepond -->
        <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
        <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
        <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
        <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
        <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
        <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
        <script defer src="/javascripts/fileUpload.js"></script>

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        
        <!-- jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        
        <!-- our files -->
        <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
        
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/errorMessage.ejs') %>
        <%- body %>
          
        <div class="tempNav">
            <label>Temporary nav bar</label>
            <br>
            <ul>
            <li><a href="/movies">movies</a></li>
            <li><a href="/staff">staff</a></li>
            <li><a href="/search">search</a></li>
            <li><a href="/books">books</a></li>
            </ul>
        </div>
    </body>
</html>