
    <section>
        <div class="topmedia">
        <div>
            <h2 class="movie-header">Top rated movies</h2>
            <ul>
                <a href="#"><li class='media-box'><img src="https://www.new-video.de/co/sherlockh09.jpg" alt="movie 1"></li></a>
                <a href="#"><li class='media-box'><img src="https://posterspy.com/wp-content/uploads/2020/01/shang-chi-1500x2250.jpg" alt="movie 2"></img></li></a>
                <a href="#"><li class='media-box'><img src="https://gfx.videobuster.de/archive/v/c-99YsnXF3IiXYCFhy_S2VAcz0lMkawryUyRqglMkZpbWGZJTJGanBlZyUyRtRkMLe8YWJklew5YWVi8GH9umY3YjNlZi5qcGcmcj137zg/free-guy-poster.jpg" alt="movie 3"></img></li></a>
                <a href="#"><li class='media-box'><img src="https://upload.wikimedia.org/wikipedia/en/0/0b/Your_Name_poster.png" alt="movie 4"></img></li></a>
                <a href="#"><li class='media-box'>See more</li></a>
            </ul>
        </div>
        <div>
            <h2>Top rated tv series</h2>
            <ul>
                <a href="#"><li class='media-box'><img  src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx918-lWneCW2xF7x6.png" alt="series 1"></img></li><a>
                <a href="#"><li class='media-box'><img src="https://www.mobygames.com/images/covers/l/606936-steins-gate-windows-front-cover.jpg" alt="series 2"></img></li></a>
                <a href="#"><li class='media-box'><img src="https://wallpapercave.com/wp/wp2542930.jpg" alt="series 3"></img></li></a>
                <a href="#"><li class='media-box'><img src="https://media.comicbook.com/2021/05/loki-series-poster-1269839.jpeg" alt="series 4"></img></li></a>
                <a href="#"><li class='media-box'>See more</li></a>
            </ul>
        </div>
        <div>
            <h2>Top rated books</h2>
            <ul>
                <a href="#"><li class='media-box'><img src="http://ecx.images-amazon.com/images/P/1447276493.01._SX360_SCLZZZZZZZ_.jpg" alt="book 1"></img></li></a>
                <a href="#"><li class='media-box'><img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2014/7/30/1406718532907/396ff814-8791-451b-9214-6a9b86d54142-1360x2040.jpeg?w=1200&q=55&auto=format&usm=12&fit=max&s=6c95eabb2ad2e46429e3e297fca94c58" alt="book 2"></img></li></a>
                <a href="#"><li class='media-box'><img src="https://i5.walmartimages.com/asr/6175684a-8720-47bd-98a5-84e11d527b88_1.46ff4324a8ab7b5ad242c426e3f9a875.jpeg" alt="book 3"></img></li></a>
                <a href="#"><li class='media-box'><img src="https://www.cb-india.com/images/detailed/8/9789332586284.jpg" alt="book 4"></img></li></a>
                <a href="#"><li class='media-box'>See more</li></a>
            </ul>
        </div>
        </div>
    </section>
    