<section>
    <form action="/register" method="POST" class="register">
        <label for="username">Username</label>
        <br>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="email">Email</label>
        <br>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="confirmpassword">Confirm Password</label>
        <br>
        <input type="password" id="confirmpassword" name='confirmpassword' required>
        <button action="submit">login</button>
    </form>
</section>