body {
    padding:0;
    margin:0;
    background-color:rgb(32, 32, 32);
    color:white;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color:white
}
/* 920 pixel is where the website header needs to be changed. */
header{
    width:100%;
    background-color:rgb(34, 20, 114);
}

header nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    margin-right:50px;
}

header li {
    display: inline-block;
    margin-left: 40px ;
    position: relative;
}

.search-box {
    left:-13%;
    margin:-10px;
    padding:0px;
    position:relative;
}

.search-box input {
    position:absolute;
    height:30px;
    width:400px;
}

.search-box button {
    height:36px;
    width:36px;
    position:relative;
    left:380px;
}

.tempNav {
    color: white;
}

.tempNav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

.tempNav a::before{
    content:'';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 0%;
    top: 0;
    transition: all ease-in-out 250ms;
}

.tempNav a:hover::before{
    width: 100%;
}

.home {
    margin-left:30px;
    height:60px;
}

header button{
    margin-left:5px;
    margin-right:5px;
    height:35px;
    width:100px;
}

.topmedia {
    margin-left:40px;
}

.media-box {
    display:inline-block;
    height:200px;
    width:120px; 
    position:relative;
    margin-inline:50px;
    margin-block: 40px;
}

.media-box a::after {
    content: ""; 
    position: absolute;
    top:0px;
    left: 0;
    height:180px;
    width:120px;  
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 200%);
    opacity: 0;
    transition: all ease-in-out 150ms;
}

.media-box a {
    text-decoration: none;
    color:white
}

.media-box a:hover::after {
    opacity: .8;
}

.media-box img {
    height:180px;
    width:120px; 
}

.media-box img:hover::after {
    transform: scale(1.5);
}

.media-box-more {
    margin-block: -165px;
    top:-165px;
}

.media-header {
    background-color:rgb(34, 20, 114);
    display:grid;
    grid-column-gap: 30px;
    grid-template-columns: 200px auto;
    padding:5px;
    padding-bottom:5px;
    margin-inline: 3%; 
}

.media-header img {
    height: 300px;
    width:200px;
}

.media-body {
    display:grid;
    grid-column-gap: 2%;
    grid-template-columns: 200px auto;
    padding:5px;
    padding-bottom:5px;
    margin-inline: 10%; 
}
.input-summary {
    height: 80px;
    width: 30%;
}

.input-tags {
    width: 10%;
}

.add-new a{
    text-decoration:underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
}

.signup {
    padding: 15px;
}
