<% if (movies != null) {%>
    <div> <!--list movies-->
    <h6>MOVIES</h6>
    <% movies.forEach ( movie => { %>
    <div><%= movie.name%></div>
    <br>
    ~
    <% }) %>
    </div>
<% } %>

<% if (staff != null) {%>
    <div> <!--list staff-->
    <hr>
    <h6>STAFF</h6>
    <% staff.forEach ( staff => { %>
    <div><%= staff.name%></div>
    <br>
    ~
    <% }) %>
    </div>
<% } %>

<a href="movies/new">add new movie</a>
<hr>