<label>Name</label>
<input type="text" name="name" value="<%= movie.name %>"> 
<br>
<label>summary</label>
<input type="text" name="summary" value="<%= movie.summary %>">

<!-- <label>Director</label>
<input type="text" name="director" value="<%= movie.director %>">  -->
<!--name refers to the thing it will be connected to when the data is sent -->