<section class="topmedia">
    <br>
<br>
<div> <!--list movies-->
    <ul>
    <% movies.forEach ( movie => { %>
        <a href=><li class='media-box'><img src="<%= movie.coverImagePath || "images/missing_movie.png"%>"><br><%= movie.name %></li></a>
    <% }) %>
    </ul>
</div>

<p>Can't find what you're looking for? <a href="movies/new">Add a new movie.</a></p>
<hr>
</section>