<section class="form-section">
<h2>new movie</h2>
<form action="/movies" method="POST">
        <div>
            <label>Name</label>
            <br>
            <input type="text" name="name" value="<%= movie.name %>"> 
        </div>
        
        <br><br>    
        
        <%- include("_form_fields") %>
        </div>

<br><br>

<div>
    <%-include("../partials/addStaff.ejs")%>
</div>

    <br>
    <a href="/movie">cancel</a>
    <button type='submit'>add new movie</button>
</form>
</section>