<form action='/movies/<%=movie.id%>/track/submit'>
<div>
    <label>Watch status</label>
    <br>
    <%console.log(user.movies)%>
    <select class="js-example-basic-single" style="width:300px" name="watchStatus">
        <%if ( user.movies.watchStatus == 'Watched') {%><option selected value="Watched">Watched</option>
        <%} else {%><option value="Watched">Watched</option> <%}%>

        <%if ( user.movies.watchStatus == 'Plan to watch') {%><option selected value="Plan to watch">Plan To Watch</option><%%>
        <%} else {%><option value="Plan to watch">Plan to watch</option> <%}%>
    </select>
</div>

<div>
    <label>Watch Date</label>
    <input type="date" name="watchDate" value ="<%= user.movies.date == null ? '' : user.movies.date.toISOString().split('T')[0]%>">
</div>

<div>
    <label>Number of rewatches</label>
    <%console.log(user.movies.rewatches)%>
    <input type="number" name="rewatches" value='<%user.movies.rewatches%>' min="0">
</div>

<div>
    <label>Rating</label>
        <br>
            <input type="number" name="userRating" min="1" max="100">
        <br>
    <label>Leave a review (optional)</label>
    <br>
        <textarea name="userReview" class='input-summary'></textarea>
</div>
<button type="submit">Submit</button>
</form>

<br><br>

