<div>
    <label>Name</label>
    <input type="text" name="name" value="<%= staff.name %>"> 
</div>
<br>

<div>
    <label>Summary</label>    
    <div>
        <input type="text" name="summary">
    </div>
    
    <div>
    <label>Birthdate</label>
    <input type="date" name="birthdate"
            value = `<%= staff.birthdate == null ? '' :
            book.releaseDate.toISOString().split('T')[0]  %>`
    </div>
</div>