<!-- THIS IS NOT THE ACTUAL CODE FOR THE INDEX FOR STAFF, I'M SIMPLY NOT CONSIDERING ON HAVING THIS ON THE 
FINAL PRODUCT THIS IS ONLY FOR TESTING -->

<p>all staff
     list here</p>
<br>

<div> <!--search-->
    <form action="/staff
    " method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">search</button>
    </form>
</div>
<br>
<div> <!--list staff
-->
    <% staff
    .forEach ( staff => { %>
        <div><%= staff.name%></div>
        <div><p>Role: <%= staff.role ||  "Unknown"%></p></div>
        <br>
        ~
        <br>
    <% }) %>
</div>

<a href="staff
/new">add new staff</a>
<hr>