<h2><%=staff.name%></h3>
<a href="/staff/<%=staff.id%>/edit">Edit</a>

<h3>Works<h4>
    
    <%if ( staff.works!="" || staff.works != null ) {%>
    <div> <!--list books-->
        <ul>
        <% staff.works.forEach ( works => { %>
            <br>
            <li>
                <%= works.movie.name %> - 
                <%= works.role.name %><br>
            </li>
        <% }) %>

        </ul>
    </div>
    <%}%>