<h2><%=staff.name%></h3>
<a href="/staff/<%=staff.id%>/edit">Edit</a>

<h3>Works<h4>
    <%if ( staff.works!="" || staff.works != null ) {%>
    <%works=staff.works%>
    <div> <!--list books-->
        <ul>
        <%console.log(staff.works)%>
        <%works=staff.works%>
        <%console.log(works)%>
        <%console.log(staff.works)%>
        <% works.forEach ( works => { %>
            <br>
            <li>
                <%= works.movie %><br>
                <%= works.role %><br>
            </li>
        <% }) %>

        </ul>
    </div>
    <%}%>