<section>
    <h2>Edit show</h2>
    <form action="/shows/<%= show.id %>?_method=PUT" method="POST">       
        <%- include("_form_fields") %>
    <br>
    <a href="/shows/<%=show.id%>">cancel</a>
    <button type='submit'>edit show</button>
</section>